---
import "../global.css";

import Scrolldownarrow from "../components/Scrolldownarrow.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Carousel from "../components/Carousel.astro";

const data = await fetch(
  "https://yfascmnvoajeushbqoma.supabase.co/rest/v1/clf_superbase",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlmYXNjbW52b2FqZXVzaGJxb21hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0OTA0NDQsImV4cCI6MjAyNjA2NjQ0NH0.puYt9Mkw58IwaaPs-MOmLGK0TZGTMHc2TfwDhn5YlHo",
    },
  }
).then((res) => res.json());

console.log(data);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script
      src="https://kit.fontawesome.com/42ae7bc1ec.js"
      crossorigin="anonymous"></script>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>FORSIDE</title>
  </head>
  <body>
    {
      data.map((show) => {
        return <Card data />;
      })
    }

    <Header />
    <Carousel />

    <Scrolldownarrow />
    <Footer />
  </body>
</html>
