---
import "../global.css";
import Backbutton from "../components/Backbutton.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
        <script src="https://kit.fontawesome.com/42ae7bc1ec.js" crossorigin="anonymous"></script>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <Backbutton/>
		<h1>Astro</h1>
	</body>
</html>
