---
const {text} = Astro.props;
---

<button>
    <i class="fa-solid fa-chevron-left" style="color: #000000;"></i>
</button>

<style>
    button{
        border: none;
        background-color: transparent;
       font-size: 2rem;
       color: white;
    }
</style> 
