---
const {text} = Astro.props;
---

<button>
    <i class="fa-solid fa-angle-down" style="color: #000000;"></i>
</button>

<style>
     button{
        border: none;
        background-color: white;
       font-size: 5rem;
    }
</style>