---
const {text} = Astro.props;
---

<button>
    <i class="fa-solid fa-angle-down" style="color: #ffffff;"></i>
</button>

<style>
     button{
        border: none;
        background-color: transparent;
       font-size: 5rem;
       color: white;
    }
</style>