* {
  box-sizing: border-box;
}

body {
  background-image: url(../public/bg.jpg);
  background-color: rgb(48, 0, 92);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: white;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: white;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: white;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: white;
}

nav {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: white;
}
